.here_sec {
    width: 90%;
    height: 480px;
    margin: auto;
    // background-color: red;
    img {
        width: 100%;
        height: 100%;
    }
}

@include tablet {
    .here_sec {
        width: 90%;
        height: 400px;
        margin: auto;
    }
}