#btn {
    display: inline-block;
    border-radius: 10px;
    color: $bg-color;
    font-weight: 500;
    font-size: 16px;
    width: 150px;
    height: 60px;
    transition: transform 0.3s;
    background-color: $secandry-color;
}

#btn:hover {
    transform: scale(1.1);
}

.same_heading {
    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 160%;
        letter-spacing: 0.01em;
    }
}